* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hide-me {
  display: none;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
}

#heading {
  padding: 1rem;
  color: rgb(196, 169, 169);
  font-size: 64px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

#data__container {
  padding: 1rem;
  line-height: 48px;
}
